html,body {
    padding: 0;
    margin: 0;
}

body {
    background-color : darkslateblue;
    font-family: 'Roboto Mono', monospace;
}

.bg-slate-blue {
    background-color : darkslateblue;
}

.slate-blue {
    color : darkslateblue;
}

#viewport-container {
    height : 100vh;
    display: flex;
    flex-direction: column;
}

#main-container {
    flex-grow: 1;
    display: flex;
}

#convos {
    min-width: 200px;
    width: 33%;
    border-right: 5px solid white;
}

#convos, #messages {
    display: flex;
    height: 100%;
}

.main-title {
    height: fit-content;
    width: 100%;
    padding: 10px;
    background-color: darkslategrey;
    border-bottom: 5px solid white;
}

#messages {
    flex-grow: 1;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-container {
    padding: 15px;
    margin: 0 auto;
    text-align: center;
}

.login-container {
    background-color: aquamarine;
    width: 75vw;
    height: 75vh;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.login-container *, .login-container * {
    display: block;
}

.uname-container, .pass-container {
    width: 80%;
    padding-bottom: 15px;
}
